/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2021, 2:55:51 PM
    Author     : maulik
*/

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

body{
    background-image: url("pexels-tim-mossholder-2096622.jpg");
    background-size: cover;
}
.navbar-brand{
    color: red;
}


.navbar-inverse .navbar-brand{
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}

nav{
    background:  #1c1c1c;
}

div .card:hover{
    background: #e2e2e2;
    cursor: pointer;
}
/*
.nav-tabs{
  background-color:wheat;
}*/
div .nav-tabs .nav-link .active{
    background-color: green !important;
}

.navbar.addtp{
    background-color:rgba(0,0,0,.4);
}
nav .navbar .nav-item:hover .dropdown-menu{ display: block; }

