/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jan, 2021, 7:51:39 PM
    Author     : maulik
*/

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
.navbar-brand{
    color: red;
}


.navbar-inverse .navbar-brand{
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}

nav{
   background:  #1c1c1c;
}

div .card:hover{
    background: #e2e2e2;
    cursor: pointer;
}

.nav-tabs{
  background-color:#4cae4c;
}
.nav-link .active{
     background-color: green !important;
}

nav .navbar .nav-item:hover .dropdown-menu{ display: block; }

body{
     background-color: #121212;
}