/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jan, 2021, 7:51:39 PM
    Author     : maulik
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

body{
    background-image: url("pexels-tim-mossholder-2096622.jpg");
    background-size: cover;
}
div h3{
    color: cyan;
    font-weight: bold;
    font-size: 25px;
}

nav a{
    color:white;
    margin-right: 25px;
}



.navbar-brand{
    color: red;
}


.navbar-inverse .navbar-brand{
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}

nav{
    background:  #1c1c1c;
}

/*.navbar-inverse .navbar-brand {
    color: #e5474b;
}*/

/*nav div .collapse{
    margin-left: 2000px;
}*/